form{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar-brand{
  margin: auto;
}
h1{
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 60%;
}
body{
  background-image: url('images/bg_checkout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
body{
  color: white;
}
.disclaimer{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
table{
  margin: auto;
}
td{
  padding: 10px;
}
h4{
  text-align: center;
  margin: auto;
  width: 70%;
}
.menu{
  transition: 0.3s;
}
h3{
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
html{
  scroll-behavior: smooth;
}
