body{
  background-color: #020405;
}
.header{
  background-image: url("images/night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 750px;
  background-size: cover;
  margin-bottom: 0;
  bottom: 0;
  top: 0;
  right:0;
  left:0;
}
.navbar{
  margin: auto;
  padding: 20px;
}
.nav-item{
  margin: auto;
}
a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  padding: 0 50px 0 50px;
}
a:hover{
  color: grey;
  text-decoration: none;
  transition: 0.3s;
}
h1{
  text-align: center;
  margin: 150px 0 0 0;
  color: white;
  font-size: 5rem;
}
h3{
  text-align: center;
  color: white;
}
.map{
  width: 50px;
  margin: auto;
}
.map:hover{
  opacity: 0.5;
  transition: 0.3s;
}
.options{
  margin: auto;
  width: inherit;
}
.toggler{
  margin: auto;
  width: 60px;
}
.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a2e;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ffbd69;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1a1a2e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* container 2 */
.card-deck{
  width: 100%;
  margin: auto;
}
.a{
  width: 100%;
}
.containertwo{
  width: 80%;
  margin: 0 auto 100px;;
}
p{
  color: white;
  text-align: center;
}
.text{
  top: 0;
  position: relative;
  width: 500px;
  margin: auto;
  padding-bottom: 50px;
}
.gp{
  text-align: center;
  color:#fff;
}
.a:hover{
  transition: 0.3s;
  transform: scale(0.9);
  opacity: 0.5;
}
.seem{
  width: inherit;
  text-align: center;
}
.row{
  padding: 0;
}
/* container 3 */
.card-group{
  margin: auto;
  border: none;
  width: 60%;
  background-color: inherit;
}
.card{
  background-color: inherit;
  padding: 10px;
}
.card-body{
  background-color: #020405;
}

/* footer */

.footer{
  margin: auto;
  position: relative;
  top: 600px;
}
.logos{
  margin-left: 45%;
  margin-right: 45%;
  width: 20%;
}
.fwall{
  /* background-size: 100%;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat; */
  background-image: url("images/Mountain.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  /* position: absolute; */
}
.details{
  position: absolute;
  text-align: center;
}

/* Mobile friendly */

@media only screen and (max-width: 600px) {
  /* h1{
    font-size: 2rem;
    margin-top: 0px;
  }
  h3{
    font-size: 1rem;
    width: 200px;
    margin: auto;
  } */
  .containertwo{
    margin-top: 150px
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  p{
    width: 200px;
    font-size: 0.7rem;
    margin: auto;
  }
  .cards{
    width: 100%;
    margin: auto;
  }
  .text{
    width:250px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .cards:hover{
    width:90%;
  }
  .card-group{
    width: 80%;
  }
  .card-deck{
    width: 200px;
  }
  .ex{
    width: inherit;
  }
body{
  margin-right: 0;
}
.logos{
  margin-left: 30%;
  margin-right: 30%;
  width: 60%;
}
}
